@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    font-size: 12px;
    --principal: #E5E5CB;
    --secundaria: #1A120B;
    --detalhes: #3C2A21;
    --principal-hover: #D5CEA3;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
}



body{
    margin:0 auto;
    display: flex;
    min-height: 100vh;
    width: 75rem;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--principal);
    overflow-x: hidden;
    
}

header{
    width: 100%;
    justify-content: flex-start;
    align-items: end;
    margin-left: 100px;
    height: 5.875rem;
    display: flex;
    margin:  0  0 5.624rem 0 ;
}

header a{
    margin: 0 5rem 0 0;
    text-decoration: none;
    color: var(--detalhes);
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    font-weight: 600;
}

.sobremim{
    margin-bottom: 2.5rem;
}


.main__sobre{
    display: flex;
    margin-bottom: 6.5rem;
    gap: 5.25rem;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
}

.main__Principal{
    margin-bottom: 6.5rem;
    gap: 5.25rem;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    
}

.principal{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}

.principal__sobre{
    gap: 5.25rem;
}

section{
    width: 50%;
    
}

.section__Home{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;  
    width: 42rem;
    height: 80%;
}

.chamada{
    box-sizing: border-box;
    margin-bottom: 2.5rem;
}

h1{
    color: var(--secundaria);
    font-size: 2.25rem;
    font-family: var(--fonte-titulo);
    line-height: 3.5rem;
}

span{
    color: var(--detalhes);
    font-size: 2.25rem;
    font-family: var(--fonte-titulo);
    line-height: 3.5rem;
}

article{
    box-sizing: border-box;
    margin-bottom: 2.5rem;
}

p{
    color: var(--secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    line-height: 2.25rem;
}

nav{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
 
h2{
    color: var(--secundaria);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-titulo);
    line-height: 2.5rem;

}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 1rem;

    width: 23.625rem;
    height: 4.25rem;
    border-radius: 8px; 
    border: 2px solid var(--detalhes);
    background: var(--principal);

    color: var(--secundaria);;
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    font-weight: 600;
    
    
}

.redes:hover{
    background: var(--principal-hover);
}

img{
    width: 2rem;
}


aside{
    display: flex;
    justify-content: initial;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.aside__sobre{
    margin-top: 6rem;
}


.minha__foto{
    height: 33.25rem;
    width: 29.1875rem;
    border-radius: 16px;
    margin-top: 1.125rem;

    color: var(--secundaria);

    box-shadow:  1.143125rem -1.125rem 0px -0.2vw var(--principal), 1.143125rem -1.125rem var(--detalhes);
    
}

footer{
    margin-top: auto;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--detalhes);
    height: 5rem;
    width: 100vw;
}

footer p{
    color: var(--principal);
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    line-height: 2.25rem;
}
